$userimg: '../images/userimg.png';

.App{
    // max-width: 1000px;
    margin: 2rem 0rem 0rem 20rem;
    .title{
        margin-left: -16%;
        width: 15%;

    }
    .nav{
        margin-left: -16%;
        // margin-top: 7.8rem;
        padding-top: 5rem;
        height: 90%;
        width: 15%;
        display: flex;
        flex-direction: column;
        border: 1px solid orange;
        position: absolute;
        background-color: white;
            a{
            margin: 2% 0;
            width: 25%;
            border-bottom: 1px solid gold;
            padding: 15% 0%;
            text-decoration: none;
            color: black;
            width: 100%;
            &:hover{
                background-color: orange;
                color: gold;
            }
            img{
                width: 15%;
                display: flex;
                margin: 0 auto;
            }
    }

   
}
}