$userimg: '../images/userimg.png';

.App{
    .nav{
        // margin-top: 125px;
        margin-top: 7.8rem;
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: column;
        border: 1px solid orange;
        position: absolute;
        background-color: white;
            a{
            margin: 2% 0;
            width: 25%;
            border-bottom: 1px solid gold;
            padding: 15% 0%;
            text-decoration: none;
            color: black;
            width: 100%;
            &:hover{
                background-color: orange;
                color: gold;
            }
    }

   
}
}