textarea {
  border: 2px solid gold;
  margin: 2% 0;
  width: 80%;
  height: 10vh;
}

::placeholder {
  font-size: 20px;
}

.image {
  background-image: $image;
  width: 50%;
  height: 20vh;
  text-align: center;
  background-size: cover;
}

a::last-child::visited {
  color: blue;
  text-decoration: none;
  float: right;
}

.boxedit {
  background-color: $bgboxcolor;
  width: 40%;
  height: 90vh;
  border-radius: 20px;
  border: 5px solid gold;
  opacity: 0.9;
  @media (max-width: 1000px) {
    height: 100vh;
    width: 50%;
  }
  @media (max-width: 950px) {
    height: 100vh;
    width: 60%;
  }
}

.editbtn {
  background-color: $orange;
  border: none;
  border-radius: 20px;
  padding: 15px 20px;
  font-size: 1em;
  color: white;
  font-family: $globalfont;
  margin-top: 5%;
  margin-bottom: 5%;
}
