$bgboxcolor: white;
$bgimage: '../images/signupbg.jpg';
$globalfont: 'Verdana';
$orange: #f05e23;
//placeholder image for edit recipe
$image: url('./../images/placeholder.jpg');

h2 {
  color: $orange;
}
.container {
  background-image: url($bgimage);
  background-size: cover;
  height: 100vh;
  display: flex;
  font-family: $globalfont;
  align-items: center;
  justify-content: center;

  .box {
    background-color: $bgboxcolor;
    width: 40%;
    height: 80vh;
    border-radius: 20px;
    border: 5px solid gold;
    opacity: 0.9;
    @media (max-width: 1000px) {
      height: 100vh;
      width: 50%;
    }
    @media (max-width: 950px) {
      height: 100vh;
      width: 60%;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        background-color: $orange;
        border: none;
        border-radius: 20px;
        padding: 15px 20px;
        font-size: 1em;
        color: white;
        font-family: $globalfont;
        margin-top: 5%;
        margin-bottom: 5%;

        &:last-child {
          width: 35%;
          font-size: 1.3em;
        }
      }
    }
  }
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 5px 0;
  color: black;
  background-color: white;
  border: none;
  border-bottom: 1px solid gold;
}

.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

.error-text {
  margin: 0.25em 0 0 0;
  padding: 0;
  color: red;
  font-style: bold;
  font-size: 1.2rem;
}

.login {
  color: $orange;
  cursor: pointer;
}
