h1 {
  color: red;
}

.container {
  background-image: url("../images/signupbg.jpg");
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signupBox {
  background-color: white;
  width: 30%;
  height: 70vh;
  border-radius: 20px;
  border: 5px solid gold;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 5px 0;
  color: black;
  background-color: white;
  border: none;
  border-bottom: 1px solid gold;
}

.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

.error-text {
  margin: 0.25em 0 0 0;
  padding: 0;
  color: red;
  font-style: bold;
  font-size: 1.2rem;
}

html, body, .App, #root {
  min-height: 100vh;
  width: 100%;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.logo-header {
  margin: 5% 25%;
  border: 2px solid orange;
  padding-bottom: 5%;
}

p {
  margin: -0.5% auto 0 auto;
}

.logo {
  height: 10vmin;
  margin-top: 2%;
}

.login-container {
  background-image: url("../images/loginbg.jpg");
  background-size: cover;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-container .form {
  margin: 0 auto 0 auto;
  width: 30%;
  height: 50vh;
  border-radius: 20px;
  border: 5px solid gold;
  background-color: white;
}

.login-container .form h1 {
  color: red;
  margin-top: 10%;
}

.login-container .form .form-content {
  width: 43%;
  margin-left: -7%;
}

.login-container .form .form-content .email-content {
  margin-left: -104%;
}

.login-container .form .form-content #email {
  width: 150%;
  padding: 10px 5px;
  margin: 10px 0px 10px -30px;
}

.login-container .form .form-content .password-content {
  margin-left: -88%;
}

.login-container .form .form-content #password {
  width: 150%;
  padding: 10px 5px;
  margin: 10px 0px 10px -30px;
}

.login-container .form button {
  padding: 10px 30px;
  margin: 40px 0px 20px 0px;
  background-color: gold;
  font-size: 20px;
}

.login-container .form button:hover {
  background-color: white;
  color: orange;
}

.login-container .form .link-signup {
  margin-top: 5%;
  color: #5a5a5a;
}

.login-container .form .link-signup:hover {
  color: orange;
  text-decoration: none;
}

.App .nav {
  margin-top: 7.8rem;
  height: 100%;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid orange;
  position: absolute;
  background-color: white;
}

.App .nav a {
  margin: 2% 0;
  width: 25%;
  border-bottom: 1px solid gold;
  padding: 15% 0%;
  text-decoration: none;
  color: black;
  width: 100%;
}

.App .nav a:hover {
  background-color: orange;
  color: gold;
}
/*# sourceMappingURL=styles.css.map */