html,body,.App, #root {
  min-height: 100vh;
  width: 100%;
  // margin: 0;
  // padding: 0;
}
.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  margin: 5rem 20rem 0 20rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid gold;
}

input {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 5px;
}

div .email {
  margin-left: -81%;
}

div .password {
  margin-left: -71%;
}

button {
  padding: 10px 20px;
  margin: 10px 5px;
}
.form-content{
  width: 26%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
